<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROCESSING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
            android:name=".App"
            android:allowBackup="true"
            android:enableOnBackInvokedCallback="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <uses-native-library
                android:name="libOpenCL.so"
                android:required="false" />
        <uses-native-library
                android:name="libOpenCL-car.so"
                android:required="false" />
        <uses-native-library
                android:name="libOpenCL-pixel.so"
                android:required="false" />

        <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="barcode" />

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize"
                android:resizeableActivity="true"
                android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".CreditActivity" />
        <activity android:name="zelgius.com.myrecipes.VisionBarcodeReaderActivity" />
        <activity
                android:name="zelgius.com.myrecipes.ui.play.PlayRecipeActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
                android:theme="@style/AppTheme.NoActionBar"
                android:supportsPictureInPicture="true" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                tools:node="remove"/>

        <service
                android:name="androidx.work.impl.foreground.SystemForegroundService"
                android:foregroundServiceType="mediaProcessing|dataSync"
                tools:node="merge" />
    </application>

</manifest>